body {
	position: relative;
 	background-color: #993399;
}
h1{
	color:#cccc00;
}
p{
	min-height: 100px;
	color:#cccc00;
}
container1{
	display: block;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    font-size: 1.5em; 
}
input{
	background:url(telestoIcon.jpg) no-repeat;
	border:none;
    width:96px;
    height:96px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}